services:
  bgs-backend:
    image: ${APP_NAME}:latest
    container_name: ${APP_NAME}
    build:
      context: ./
      dockerfile: Dockerfile_jar
      args:
        HOME_DIR: ${HOME_DIR}
        DATA_DIR: ${DATA_DIR}
        CONTAINER_USER: ${CONTAINER_USER}
        CONTAINER_GROUP: ${CONTAINER_GROUP}
    restart: always
    environment:
      HOME: '${HOME_DIR}'
      DATA_DIR: '${DATA_DIR}'
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: '${PG_USER}'
      SPRING_DATASOURCE_PASSWORD: '${PG_PASSWORD}'
      GIT_TOKEN: '${GIT_TOKEN}'
      BGG_API_KEY: '${BGG_API_KEY}'
    expose:
      - '${APP_PORT}'
    ports:
      - '${APP_PORT}:${APP_PORT}'
    networks:
      - tasks-network
    volumes:
      - app-data:${DATA_DIR}
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:latest
    container_name: ${PG_HOST}
    environment:
      POSTGRES_DB: '${PG_DATABASE}'
      POSTGRES_USER: '${PG_USER}'
      POSTGRES_PASSWORD: '${PG_PASSWORD}'
    networks:
      - tasks-network
    volumes:
      - db-data:/data/db
    ports:
      - '${PG_PORT}:${PG_PORT}' # TODO: only for debug
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready --username=${PG_USER} --dbname=${PG_DATABASE} --port=${PG_PORT} -t 0" ]
      interval: 5s
      timeout: 10s
      retries: 5

volumes:
  app-data:
  db-data:

networks:
  tasks-network:
    driver: bridge
