spring:
  application:
    name: bgs-backend
  banner:
    location: classpath:banner
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${PG_HOST}:${PG_PORT}/${PG_DATABASE}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      max-lifetime: 1800000
      connection-timeout: 30000
      idle-timeout: 600000
      leak-detection-threshold: 5000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
management:
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never
  endpoints:
    web:
      exposure:
        include: health
  server:
    ssl:
      enabled: false # Traefik handles SSL

git:
  repo-url: https://framagit.org/r.g/board-game-data.git
  git-token: ${GIT_TOKEN}
  scheduler-enabled: false
  skip-first-execution: true
  repo-root: ${DATA_DIR}
  board-game-csv-file-name: scraped/bgg_GameItem.csv
  game-family-csv-file-name: scraped/bgg_GameFamily.csv
  mechanic-csv-file-name: scraped/bgg_Mechanic.csv
  category-csv-file-name: scraped/bgg_Category.csv
  game-type-csv-file-name: scraped/bgg_GameType.csv
  person-csv-file-name: scraped/bgg_Person.csv
  publisher-csv-file-name: scraped/bgg_Publisher.csv

metadata:
  bgg-api-key: ${BGG_API_KEY}
