name: publish-image.yml
on:
  release:
    types: [ published ] # on new release publish
  workflow_dispatch: # manual trigger

jobs:
  publish-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./deployment
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/boardgamesearch:latest
            ${{ github.event_name == 'release' && format('{0}/boardgamesearch:{1}', secrets.DOCKERHUB_USERNAME, github.event.release.tag_name) || '' }}
